In [1]:
import numpy as np
import patsy as pt
from patsy.contrasts import Treatment
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.linear_model as lm
import seaborn as sns
from statsmodels.tools.tools import add_constant
import statsmodels.api as sm
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics
from sklearn import preprocessing
%matplotlib inline

In [3]:
url = '/Users/VishalDubey/Vishal/College/polsci189fs/FF Project/train75.csv'
df = pd.read_csv(url)
data = df
data.head()

,l_gp18,l_points18,draft_pick,cost,l_gp17,l_points17,l_owners17,l_project17,l_actual17,l_passyds17,...,pick17,cost17,off_linefo18,off_linepff18,off_passydsg17,off_runydsg17,off_ptsg17,def_ydsg17,def_ptsg17,train
count,171.000000,171.000000,90.000000,90.000000,119.000000,119.000000,122.000000,122.000000,122.000000,117.000000,...,82.000000,82.00000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000
mean,13.444444,157.336492,99.400000,18.866667,13.336134,156.424033,0.494098,428.516393,245.778689,232.478632,...,104.939024,18.54878,15.988304,16.432749,220.116372,111.870175,21.486550,334.105268,21.710526,0.761444
std,3.128824,93.443599,67.594595,18.126398,3.712730,90.705809,0.418807,691.928163,214.958866,825.844892,...,68.596215,15.75989,9.304008,9.149084,30.885898,15.210753,4.082257,24.934733,2.708941,0.132216
min,4.000000,46.000000,1.000000,1.000000,1.000000,3.130000,0.000000,1.000000,1.000000,0.000000,...,3.000000,1.00000,1.000000,1.000000,175.700000,76.300003,14.600000,275.899990,15.800000,0.502767
25%,12.000000,87.334999,36.500000,3.000000,12.000000,89.235001,0.060000,56.000000,102.250000,0.000000,...,44.000000,4.00000,9.000000,8.500000,196.300000,103.800000,18.400000,318.399990,19.850001,0.664764
50%,15.000000,133.470000,85.500000,15.000000,15.000000,141.570010,0.455000,128.500000,204.500000,0.000000,...,99.000000,16.00000,15.000000,16.000000,220.899990,111.800000,20.900000,335.700010,22.299999,0.754243
75%,16.000000,207.214995,156.750000,30.000000,16.000000,220.954995,0.957500,241.250000,301.750000,0.000000,...,163.250000,28.00000,23.500000,24.000000,245.300000,122.200000,24.700001,352.299990,23.900000,0.871857
max,16.000000,427.769990,223.000000,67.000000,16.000000,441.030000,1.000000,1967.000000,850.000000,3804.000000,...,228.000000,60.00000,32.000000,32.000000,276.899990,141.399990,29.900000,378.100010,27.299999,0.999751

In [4]:
data.describe()

,l_gp18,l_points18,draft_pick,cost,l_gp17,l_points17,l_owners17,l_project17,l_actual17,l_passyds17,...,pick17,cost17,off_linefo18,off_linepff18,off_passydsg17,off_runydsg17,off_ptsg17,def_ydsg17,def_ptsg17,train
count,171.000000,171.000000,90.000000,90.000000,119.000000,119.000000,122.000000,122.000000,122.000000,117.000000,...,82.000000,82.00000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000
mean,13.444444,157.336492,99.400000,18.866667,13.336134,156.424033,0.494098,428.516393,245.778689,232.478632,...,104.939024,18.54878,15.988304,16.432749,220.116372,111.870175,21.486550,334.105268,21.710526,0.761444
std,3.128824,93.443599,67.594595,18.126398,3.712730,90.705809,0.418807,691.928163,214.958866,825.844892,...,68.596215,15.75989,9.304008,9.149084,30.885898,15.210753,4.082257,24.934733,2.708941,0.132216
min,4.000000,46.000000,1.000000,1.000000,1.000000,3.130000,0.000000,1.000000,1.000000,0.000000,...,3.000000,1.00000,1.000000,1.000000,175.700000,76.300003,14.600000,275.899990,15.800000,0.502767
25%,12.000000,87.334999,36.500000,3.000000,12.000000,89.235001,0.060000,56.000000,102.250000,0.000000,...,44.000000,4.00000,9.000000,8.500000,196.300000,103.800000,18.400000,318.399990,19.850001,0.664764
50%,15.000000,133.470000,85.500000,15.000000,15.000000,141.570010,0.455000,128.500000,204.500000,0.000000,...,99.000000,16.00000,15.000000,16.000000,220.899990,111.800000,20.900000,335.700010,22.299999,0.754243
75%,16.000000,207.214995,156.750000,30.000000,16.000000,220.954995,0.957500,241.250000,301.750000,0.000000,...,163.250000,28.00000,23.500000,24.000000,245.300000,122.200000,24.700001,352.299990,23.900000,0.871857
max,16.000000,427.769990,223.000000,67.000000,16.000000,441.030000,1.000000,1967.000000,850.000000,3804.000000,...,228.000000,60.00000,32.000000,32.000000,276.899990,141.399990,29.900000,378.100010,27.299999,0.999751